*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    background: transparent;
    background-color: rgba(222, 66, 243, 0.55);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.input-container h1{
    text-align: 30px;
}

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input{ 
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 15px;
}

.input-container input[type="text"]{
    width:70% ;

}

.input-container input[type="button"]{
    background-color:#1298c5 ;
    color: white;
    font-weight: 700;
    margin-left: 9px;
    cursor: pointer;
    padding: 12px 25px;
}

.input-container input[type="button"]:hover{
    background-color: #2737e7;
}

ul{
    width: 100%;
    max-width: 450px;
   /* display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;*/
}

ul li{
    list-style-type:none;
    cursor: pointer;
    margin-block-end: 12px;
    padding: 6px 12px;
   border-radius:5px ;
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    transition: background-color 0.5s;
}

ul li:hover{
    background-color:rgb(143, 136, 136);
}

ul li p{
    flex-grow:1;
    padding: 3px;
}

.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 500;
    cursor: pointer;
    padding: 8px;
}
.deleteBtn{
    color: red;
}
.editBtn{
    color:green;
}